.crop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

main {
    padding: 50px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.crop > div {
    width: 40%;
}

.crop-image > img {
    width: 100%;
    height: 100%;
}

.crop-details > button {
    width: 100px;
}

.crop-requirements {
    padding: 30px;
    width: 85%;
    background-color: antiquewhite;
    height: 250px;
    margin: 40px auto;
}