*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

nav a img:hover {
    transform: scale(1.2);
}

.navbar{
    position: absolute;
    top: 25px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-img{
    margin-bottom: 20px;
    height: 400vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/vegetables.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-img .about h1{
    font-family: "Corben", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 7rem;
    position: absolute;
    top: 150px;
    left: 280px;
}

.about h3{
    font-family: "Corben", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    position: absolute;
    top: 350px;
    left: 350px;
}

.about p{
    width: 400px;
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 400px;
    left: 350px;
}

.about .reg{
    font-size: 1rem;
    color: white;
    position: absolute;
    top: 450px;
    left: 1400px;
}

.about .btn{
    width: 150px;
    position: absolute;
    top: 400px;
    left: 1400px;
}

main{
    height: 100%;
    width: 100vw;
}
.content-bar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-group{
    width: 60vw;
}

.shops{
    font-weight: 700;
    position: absolute;
    top: 135vh;
    left: 400px;
}

.content{
    position: absolute;
    top: 86vh;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.content-2{
    position: absolute;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    top: 142vh;
}

#contact > form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#contact > form > h1 {
    text-align: center;
}

#contact textarea {
    width: 300px;
}

#contact input {
    width: 300px;
    border: none;
    border-bottom: 1px solid black;
    text-indent: 2px;
}

#contact label:last-of-type {
    color: grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


footer {
    position: absolute;
    top: 190vh;
    margin: 0;
    width: 100vw!important;
    padding: 50px;
    padding-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}